div{
    text-align:center;
    border:solid crimson 7px;
    padding:20px;
    margin:100px;
}
h1{
    color:blue;
}
.jeff{
    width:200px;
    height:50px;
    font-size:40px;
}
body{
font-family: 'Oxygen', sans-serif;
}
